name: Send email
on:
  push:
    branches: [ main ]

jobs:
  send-email:
    runs-on: ubuntu-latest
    container: 
      image: iamgrid/iroha_mailer:v0.1.5
      options: --user root
    steps:
      - uses: actions/checkout@dc323e67f16fb5f7663d20ff7941f27f5809e9b6

      - name: ls
        run: ls -alh

      - name: ls ..
        run: ls -alh ..

      - name: ls ../..
        run: ls -alh ../..

      - name: Save secret as file
        env:
          CODECOV_TOKEN: ${{ secrets.CONNECT_SECRET }}
        run: echo $CODECOV_TOKEN > secret.txt

      - name: ls
        run: ls -alh

      - name: Send new email and save it
        run: | 
          python ../request_print.py 
            -s ./secret.txt \
            -a "https://mail.dev.iroha2.tachi.soramitsu.co.jp/generate_print" \ 
            -d ./emails.toml \
            -o output.html

      - name: ls
        run: ls -alh

      - name: Check
        run: cat output.html